body{
    margin: 0;
    padding: 0;
}

#nabar-warrp {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#333;
    color:white;
}

#nabar-warrp>li {
    float:left;
}

#nabar-warrp>li>a {

    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#nabar-warrp>li>a:hover {
    background-color: #111;
}
#classes{
    display: flex;
    justify-content: space-around;
    width:25%;
}
.header-icons{
    width:20px;
}
